body{
  margin:0;
  font-family: Arial, sans-serif;
  background:#071024;
  color:#ffffff;
  text-align:center;
}

header{
  background:#f2c400;
  color:#071024;
  padding:20px;
}

.hero{
  padding:40px 20px;
}

.btn{
  display:inline-block;
  margin-top:20px;
  padding:14px 24px;
  background:#f2c400;
  color:#071024;
  font-weight:bold;
  text-decoration:none;
  border-radius:8px;
}

section{
  padding:30px 20px;
}

ul{
  list-style:none;
  padding:0;
}

li{
  margin:10px 0;
}

footer{
  background:#000;
  padding:15px;
  font-size:14px;
}
